.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-title {
  color: white;
}

.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TimeSlot {
  background-color: khaki;
  padding: 12px;
}

.TimeSlot-text {
  color: black;
  font-weight: bold;
}

.TimeTable {
  display: flex;
  
}
.Delete {
  margin-right: 10px;
  margin-left: 10px;
}

.Logins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
}
